<!DOCTYPE html>
<html>
<head>
  <title>Email Verification</title>
</head>
<body>
  <h1>Email Verification</h1>
  <p>Hi <%= user.firstname %>,</p>
  <p>Thank you for registering. Please click the link below to verify your email address:</p>
  <a href="<%= `${url}/email-verification/${user.verificationToken}` %>">Verify Email</a>
</body>
</html>
